<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-8">
      <div id="chessboard" style="width: auto"></div>
    </div>

    <div class="col-md-12 col-lg-4">

        <div class="scrollmessages">
          <div id="messages"></div>
        </div>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Chat...">
            <span class="input-group-btn">
              <button class="btn btn-success" type="button">Send!</button>
            </span>
        </div>

    </div>
  </div>
</div>
